.index-point {
    width: 25px;
    height: 25px;
    background-color: #dad5d2;
    border: 1px solid black;
    float: left;
    display: inline-block;
}

.index-point-active {
    background-color: #ee100d;
}

.person-shoutout {
    height: 200px;
}
#peopleContainer, #buttonContainer {
    text-align: center;
}
#peopleContainer {
    border: 1px solid black;
    margin: 5px;
}
button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
}
.prev {
    float: left;
}
.next {
    float: right;
}
.person {
    font: bold 26px/28px sans-serif;
}
.location {
    font-family: sans-serif;
}
.animal {
    font: 20px/22px sans-serif;
    letter-spacing: 2px;
}